<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee           http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet-mapping>
        <servlet-name>Billing</servlet-name>
        <url-pattern>/Billing</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <servlet>
        <servlet-name>ChatServlet</servlet-name>
        <servlet-class>servlet.ChatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Billing</servlet-name>
        <servlet-class>model.Billing</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChatServlet</servlet-name>
        <url-pattern>/ChatServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckInServlet</servlet-name>
        <servlet-class>servlet.CheckInServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckInServlet</servlet-name>
        <url-pattern>/CheckInServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>servlet.CheckOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/CheckOutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BanquetServlet</servlet-name>
        <servlet-class>servlet.BanquetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BanquetServlet</servlet-name>
        <url-pattern>/BanquetServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MealServlet</servlet-name>
        <servlet-class>servlet.MealServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MealServlet</servlet-name>
        <url-pattern>/MealServlet</url-pattern>
    </servlet-mapping>
</web-app>
